* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

button {
    position: absolute;
    width: 30px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    top: 365px;
    border: none;
    color: transparent;
}

p {
    position: relative;
    bottom: 240px;
    font-size: 24px;
    width: 400px;
}